.logo,
.left-side,
.navigation-pre {
  display: none !important;
}

.info {
  display: block !important;
}
.btn-upload {
  position: fixed;
  bottom: 60px;
  z-index: 99;
  right: 30px;
  background: #ff5454;
  font-weight: bold;
  color: white;
  font-size: 15px;
}

.main-header {
  display: none;
}
.footer-social .row {
  display: none;
}

.footer-links {
  display: none;
}
