@mixin hover-show($selector) {
  #{$selector} {
    opacity: 0;
  }
  &:hover {
    #{$selector} {
      opacity: 1;
    }
  }
}

@mixin hover-self-offset($x, $y) {
  &:hover {
    transform: translateX($x) translateY($y);
  }
}

@mixin hover-offset($selector, $x, $y) {
  &:hover {
    #{$selector} {
      transform: translateX($x) translateY($y);
    }
  }
}
