@mixin button-bg() {
  transition: all 0.3s ease;

  @include greater-than(sm) {
    &:not([disabled]) {
      &:hover {
        filter: brightness(108%);
        transition: all 0.3s ease;
      }
      &:active {
        filter: brightness(115%);
        transition: all 0.3s ease;
      }
    }
  }
}

@mixin button-bg-darken() {
  @include button-bg();
  @include greater-than(sm) {
    &:not([disabled]) {
      &:hover {
        filter: brightness(92%);
      }
      &:active {
        filter: brightness(85%);
      }
    }
  }
}

.btn {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  text-decoration: none;
  padding: 0 15px;
  font-size: 15px;
  font-weight: bold;
  font-family: Helvetica;
  border-radius: 20px;
  height: 35px;
  background: $main-color;
  cursor: pointer;
  // &:hover {
  // }
  @include button-bg-darken();
}

.btn:disabled {
  background-color: orangered;
  cursor: not-allowed;
}
