.landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;

  .logo-top {
    background: url(../assets/img/logo.png) no-repeat;
    background-size: 143px 27px;
    height: 27px;
    width: 143px;
    position: fixed;
    left: 35px;
    top: 10px;
  }
  .blue-path {
    width: 80%;
    position: fixed;
    right: 0px;
    z-index: -2;
    top: -140px;
    @include smaller-than(sm) {
      top: 0px;
    }
  }
  .text-wrapper {
    margin: 160px 0 0 50px;
    h1 {
      text-transform: capitalize;
    }
  }
  .items {
    width: 59%;
    right: 12%;
    position: absolute;
    z-index: -1;
    top: 5%;
    @include smaller-than(sm) {
      width: 45%;
      top: 8%;
    }
  }
  .poster-wrapper {
    height: fit-content;
  }
  .intro-list {
    margin: 0 0 0 10px;
  }
  .btn-landing-explore {
    margin: 55px 0 0 0;
    width: 120px;
  }
}
