.logo-top {
  background: url(../assets/img/logo.png) no-repeat;
  height: 50px;
}
.blue-path {
  background: url(../assets/img/bluePath.svg) no-repeat;
  height: 100%;
}
.items {
  background: url(../assets/img/items.jpeg) no-repeat;
  height: 100%;
}
.poster-wrapper {
  height: fit-content;
}
