.product-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  height: 420px;
  border: solid 1px #d8d8d8;
  margin: -1px -1px 0 0;
  .label {
    position: relative;
    display: none;
  }

  .text-info {
    padding: 10px 0 0 20px;
    height: 70px;
    .title {
      margin: 5px 0;
    }
  }
}

.product-img {
  > img {
    object-fit: cover;
    width: 360px;
    height: 240px;
  }
}

.label-warning {
  padding: 3px 5px;
  background: #f3b631;
  color: white;
  border-radius: 3px;
}

.btn-request {
  position: relative;
  align-self: flex-end;
  bottom: -36px;
  right: 10px;
}
